<div class="sleep">

    <div class="mr-3 mt-3 rounded-xl p-4 text-nowrap" style="height: 175px; background-color: #FEB734;">
        <div class="flex justify-between mb-4">
            <div>
                <h1 class="text-white text-l">Daily Meals</h1>
                <h class="text-white text-l">0/3 Meals</h1>
            </div>
            <div>
                <img class="max-w-none " src="../../images/bread.svg" alt="">
            </div>
        </div>
        <p class="text-white text-sm "> Next meal: 12:00 pm</p>
        <p class="text-white text-sm">It's time to eat something</p>
    </div>
</div>

<script src="https://cdn.tailwindcss.com"></script>