
    <div class="sleep">

        <div class="mr-3 ml-3 mt-3 rounded-xl p-4" style="background-color: #FEB734;">
            <div class="flex justify-between mb-4">
                <div>
                    <h1 class="text-white text-3xl">Daily Meals</h1>
                    <h class="text-white text-3xl">0/3 Meals</h1>
                </div>
                <div>
                    <img src="../../images/bread.svg" alt="">
                        
                    
                </div>


            </div>
            <p class="text-white "> Next meal: 12:00 pm</p>
            <p class="text-white ">It's time to eat something</p>
    
        </div>
    
    
    </div>
    
    <script src="https://cdn.tailwindcss.com"></script>
    

