<div class="sleep">

    <div class="sleep">

        <div class="mr-3 mt-3 rounded-xl p-4 text-wrap" style="height: 175px; background-color: #F94E56;">
            <div class="flex justify-between mb-4">
                <div>
                    <h1 class="text-white text-xl">Time Slept</h1>
                    <h class="text-white text-xl">5/8 hrs</h1>
                </div>
                <div>
                   <img src="../../images/womensleeping.svg" alt="">
                </div>


            </div>
            <p class="text-white text-sm">Planned Sleep Time: 11:00pm</p>
            <p class="text-white text-sm ">Your sleep debt is 4hrs</p>
    
        </div>
        <p class="text-white ">Planned Sleep Time: 11:00pm</p>
        <p class="text-white ">Your sleep debt is 4hrs</p>

    </div>


</div>

<script src="https://cdn.tailwindcss.com"></script>