<div class="sleep">

    <div class="sleep">

        <div class="mr-3 ml-3 mt-3 rounded-xl p-4 text-nowrap" style="height: 175px; background-color:#4ABFD3;">
            <div class="flex justify-between mb-4">
                <div>
                    <h1 class="text-white text-l">Water Drank</h1>
                    <h class="text-white text-l">900/1500 ml</h1>
                </div>
                <div>
                  <img src="../../images/rain.svg" alt="">
                </div>

            </div>
            <p class="text-white text-sm"> Drink Water at: 1:00 PM</p>
            <p class="text-white text-sm">Stay Hydrated!</p>

        </div>


    </div>