<div class="sleep">

    <div class="sleep">

        <div class="mr-3 ml-3 mt-3 rounded-xl p-4 text-nowrap" style="height: 175px; background-color:#5DC080;">
            <div class="flex justify-between mb-4">
                <div>
                    <h1 class="text-white text-l">Excercise</h1>
                    <h class="text-white text-l">3/4 Times</h1>
                </div>
                <div>
                  <img src="../../images/excercise.svg" alt="">
                </div>

            </div>
            <p class="text-white text-sm"> Next Session</p>
            <p class="text-white text-sm">March 10th</p>

        </div>


    </div>