<div class="sleep">

    <div class="mr-3 ml-3 mt-3 rounded-xl p-4 text-nowrap" style="background-color: #5DC080;">
        <div class="flex justify-between mb-4">
            <div>
                <h1 class="text-white text-3xl">Time Slept</h1>
                <h1 class="text-white text-3xl">5/8 hrs</h1>

                <p class="text-white "> Next Workout:</p>
                <p class="text-white ">March 20 3:30 -4:30pm</p>
            </div>

            <div>
                
                <img src="../../images/workout.svg" alt=""></div>

        </div>
    </div>


</div>

<script src="https://cdn.tailwindcss.com"></script>