<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add calendar page</title>
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../styles/style.css" />
  <link rel="stylesheet" href="../styles/login.css" />
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <header id="topbar"></header>
  <div class="input_wrap">
        <div>
            <p id="title">Add Calendar</p>
        </div>
          
        <fieldset class="login_template" id="login">
            <input type="url" id="login_email" name="url" placeholder="URL of Calendar" required="required" />
            <input type="submit" id="login_submit" name="submit" value="Import" onclick="window.location.href = 'watersetting.html';" />
        </fieldset>
    </div>
    <footer id="navbar"></footer>
</body>

</html>