<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link rel="style.css" href="">
</head>
<body class="py-10">



    <div class="calender_card w-100 bg-gray-100 mb-8 p-3 pb-5 pt-4">
        
        <div class="calendar-card mr-4 ml-4"></div>
            <h1 class="text-4xl pl-2">March 4-10</h1>
            <div class="flex justify-between mr-4 ml-4 mt-4 text-2xl" >
                <div class="calendar-card__day">
                    <h2 class="mb-1">Sun</h2>
                    <p class="bg-red-300 rounded-full px-1">12</p>
                    <div><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rectangle" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#F94E56" fill="#F94E56" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                      </svg></div>
                      <div><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rectangle" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FEB734" fill="#FEB734" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                      </svg></div>
                      <div><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rectangle" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#5DC080" fill="#5DC080" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                      </svg></div>
    
    
                </div>
                <div class="calendar-card__day">
                    <h2 class="mb-1 pl-2.5">Mon</h2>
                    
                    <p class="px-1">13</p>
                </div>
                <div class="calendar-card__day">
                    <h2 class="mb-1 px-1.5">Tue</h2>
                    <p class="px-1">14</p>
                    <div><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rectangle" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FEB734" fill="#FEB734" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                      </svg></div>
                      <div><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rectangle" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#5DC080" fill="#5DC080" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                      </svg></div>
                </div>
                <div class="calendar-card__day">
                    <h2 class="mb-1 px-1.5">Wed</h2>
                    <p>15</p>
                </div>
                <div class="calendar-card__day">
                    <h2 class="mb-1 px-2.5">Thu</h2>
                    <p>16</p>
                    <div><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rectangle" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FEB734" fill="#FEB734" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                      </svg></div>
                      <div><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rectangle" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#5DC080" fill="#5DC080" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                      </svg></div>
                </div>
                <div class="calendar-card__day">
                    <h2 class="mb-1 px-1.5">Fri</h2>
                    <p>17</p>
                </div>
                <div class="calendar-card__day">
                    <h2 class="mb-1 px-1.5">Sat</h2>
                    <p>18</p>
                </div>
            </div>
        
        <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>