<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  <link href=QDS-Hackathon-2024\templates\calendercard.html rel="stylesheet">
  <link href=QDS-Hackathon-2024/styles/style.css rel="stylesheet">
  <link href=animation.css rel="stylesheet">
</head>

<body class="abel-regular py-10" style="font-family:abel ;">



  <article class="calender_card w-100 bg-gray-100 p-3 pb-5 pt-4">

    <div class="calendar-card mr-4 ml-4"></div>
    <h1 class="text-4xl pl-1">March 4-10</h1>
    <div class="flex justify-between mr-0.5 ml-0.5 pt-4 mt-4 text-2xl">
      <div class="calendar-card__day">
        <h3 class="mb-1 text-xl text-gray-500 text-center" style="font-style: italic;">SUN</h2>
          <p class="text-xl rounded-xl py-2 mb-2 text-center" style="background-color:#F94E56;">12</p>
          <div><svg width="45" height="35" xmlns="http://www.w3.org/2000/svg">
              <rect width="45" height="25" x="" y="5" rx="5" ry="5" fill="#F94E56" />
            </svg>
            <div class="text-xl rounded-xl py-2 text-white text-center"
              style="display: block; margin-bottom: -10%; margin-top: -40px;"> 1 </div>
          </div>
          <div><svg width="45" height="35" xmlns="http://www.w3.org/2000/svg">
              <rect width="45" height="25" x="" y="5" rx="5" ry="5" fill="#FEB734" />
            </svg></div>
          <div class="text-xl rounded-xl py-2 text-white text-center"
            style="display: block; margin-bottom: -10%; margin-top: -40px;"> 1 </div>

          <div><svg width="45" height="35" xmlns="http://www.w3.org/2000/svg">
              <rect width="45" height="25" x="" y="5" rx="5" ry="5" fill="#5DC080" />
            </svg></div>
          <div class="text-xl rounded-xl py-2 text-white text-center"
            style="display: block; margin-bottom: -10%; margin-top: -40px;"> 1 </div>


      </div>
      <div class="calendar-card__day">
        <h3 class="mb-1 text-xl text-gray-500 text-center" style="font-style: italic;">MON</h2>

          <p class="text-xl rounded-xl py-2 mb-2 text-center">13</p>
          <div><svg width="45" height="35" xmlns="http://www.w3.org/2000/svg">
              <rect width="45" height="25" x="" y="5" rx="5" ry="5" fill="#5DC080" />
            </svg></div>
          <div class="text-xl rounded-xl py-2 text-white text-center"
            style="display: block; margin-bottom: -10%; margin-top: -40px;"> 2 </div>

      </div>
      <div class="calendar-card__day">
        <h3 class="mb-1 text-xl text-gray-500 text-center" style="font-style: italic;">TUE</h2>

          <p class="text-xl rounded-xl py-2 mb-2 text-center">14</p>
          <div><svg width="45" height="35" xmlns="http://www.w3.org/2000/svg">
              <rect width="45" height="25" x="" y="5" rx="5" ry="5" fill="#F94E56" />
            </svg></div>
            <div class="text-xl rounded-xl py-2 text-white text-center"
            style="display: block; margin-bottom: -10%; margin-top: -40px;"> 1 </div>
            
          <div><svg width="45" height="35" xmlns="http://www.w3.org/2000/svg">
              <rect width="45" height="25" x="" y="5" rx="5" ry="5" fill="#5DC080" />
            </svg></div>

            <div class="text-xl rounded-xl py-2 text-white text-center"
            style="display: block; margin-bottom: -10%; margin-top: -40px;"> 3 </div>
      </div>
      <div class="calendar-card__day">
        <h3 class="mb-1 text-xl text-gray-500 text-center" style="font-style: italic;">WED</h2>
          <p class="text-xl rounded-xl py-2 mb-2 text-center">15</p>
      </div>


      <div class="calendar-card__day">
        <h3 class="mb-1 text-xl text-gray-500 text-center" style="font-style: italic;">THU</h2>
          <p class="text-xl rounded-xl py-2 mb-2 text-center">16</p>
          <div><svg width="45" height="35" xmlns="http://www.w3.org/2000/svg">
              <rect width="45" height="25" x="" y="5" rx="5" ry="5" fill="#FEB734" />
            </svg></div>
            <div class="text-xl rounded-xl py-2 text-white text-center"
            style="display: block; margin-bottom: -10%; margin-top: -40px;"> 1 </div>
          <div><svg width="45" height="35" xmlns="http://www.w3.org/2000/svg">
              <rect width="45" height="25" x="" y="5" rx="5" ry="5" fill="#5DC080" />
            </svg></div>
            <div class="text-xl rounded-xl py-2 text-white text-center"
            style="display: block; margin-bottom: -10%; margin-top: -40px;"> 1 </div>
      </div>
      <div class="calendar-card__day">
        <h3 class="mb-1 text-xl text-gray-500 text-center" style="font-style: italic;">FRI</h2>
          <p class="text-xl rounded-xl py-2 mb-2 text-center">17</p>
          <div><svg width="45" height="35" xmlns="http://www.w3.org/2000/svg">
              <rect width="45" height="25" x="" y="5" rx="5" ry="5" fill="#F94E56" />
            </svg></div>
            <div class="text-xl rounded-xl py-2 text-white text-center"
            style="display: block; margin-bottom: -10%; margin-top: -40px;"> 2 </div>
      </div>
      <div class="calendar-card__day">
        <h3 class="mb-1 text-xl text-gray-500 text-center" style="font-style: italic;">SAT</h2>
          <p class="text-xl rounded-xl py-2 mb-2 text-center">18</p>
          <div><svg width="45" height="35" xmlns="http://www.w3.org/2000/svg">
            <rect width="45" height="25" x="" y="5" rx="5" ry="5" fill="#FEB734" />
          </svg></div>
          <div class="text-xl rounded-xl py-2 text-white text-center"
          style="display: block; margin-bottom: -10%; margin-top: -40px;"> 2 </div>
      </div>
      
    </article>

    <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>