<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="mr-3 ml-3 mt-3 rounded-xl p-2" style="background-color: #FEB734 ;">
        <h1>Mood this week</h1>

        <div class="flex justify-between">
            <div class="flex justify-start">
                <img src="../images/grinning-face.svg" alt="">
                <p>Happy</p>
            </div>

            <div>
                <p>61%</p>
            </div>
        </div>

    </div>

    <script src="https://cdn.tailwindcss.com"></script>    
</body>
</html>