<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    

    <footer >

        <div class="icon-buttons  bg-slate-100 ">
            <div class="buttons mr-3 ml-3 flex justify-between">
                <button class="icon-button"><i class="fas fa-home"></i> Hi</button>
                <button class="icon-button"><i class="fas fa-search"></i>Hi</button>
                <button class="icon-button"><i class="fas fa-user"></i> Hi</button>
            </div>
        </div>

    </footer>




    <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>