<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <footer>

        <div class="icon-buttons flex b ">
            <button class="icon-button"><i class="fas fa-home"></i> Hi</button>
            <button class="icon-button"><i class="fas fa-search"></i>Hi</button>
            <button class="icon-button"><i class="fas fa-user"></i> Hi</button>
        </div>

    </footer>




    <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>