<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <div class="itemcard border-2 rounded-xl border-blue-200 mr-3 ml-3 p-3 pt-4 pb-5">
        <h1 class="text-xl">March 4</h1>
        <div class="due-item-container border  mr-3 ml-3 mb-3 mt-2 p-3 rounded-xl" style="background-color: #5DC080;">
            <div class="due-ite flex">
                <h2 class="mr-40"style="color:white">COMP-1510: Presentation Slides</h2>
                <p style="color: white;">Due: 11:59pm</p>
            </div>
        </div>
        <div class="due-item-container border mr-3 ml-3 mb-3 mt-2 p-2 rounded-xl" style="background-color: #F94E56;">
            <div class="due-item">
                <h2 style="color:white;">COMP-1510: Presentation Slides</h2>
                <p style="color: white;">Due: 11:59pm</p>
            </div>
            </div>

            <div class="due-item-container border mr-3 ml-3 mb-3 mt-2 p-2 rounded-xl" style="border-color: #FEB734;">
                <div class="due-item">
                    <h2 style="color:#FEB734">COMP-1510: Presentation Slides</h2>
                    <p>Due: March 4th 11:59pm</p>
                </div>
            </div>
    
        <h1 class="text-xl">March 5</h1>
        <div class="due-item-container border mr-3 ml-3 mb-3 mt-2 p-2 rounded-xl" style="border-color: #5DC080;">
            <div class="due-item">
                <h2 style="color:#5DC080">COMP-1510: Presentation Slides</h2>
                <p>Due: March 4th 11:59pm</p>
            </div>
        </div>
    
    </div>
  
    
    <script src="https://cdn.tailwindcss.com"></script>
    
</body>
</html>

