<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>



    <div id="task" class="itemcard pt-5 p-3 mt-0 mb-8 pb-32" style="background-color: #F8F6ED;">
        <h1 class="text-4xl pb-6 ml-3">March 12</h1>

        <div class=" task1 due-item-container border mr-3 ml-3 mb-3 mt-2 p-3 rounded-xl" style="background-color: #F94E56;">
            <div class="due-ite flex justify-between">
                <h2 style="color:white;">COMP-1510: Term Project</h2>
                <p style="color: white;">4 Hrs</p>
            </div>
        </div>

        <div class=" task2 due-item-container border mr-3 ml-3 mb-3 mt-2 p-3 rounded-xl" style="background-color: #4ABFD3;">
            <div class="due-ite flex justify-between">
                <h2 style="color:white">Break (Suggestion: Snack Break)</h2>
                <p style="color: white;"> 15 mins</p>
            </div>
        </div>

        <div class=" task3 due-item-container border mr-3 ml-3 mb-3 mt-2 p-3 rounded-xl" style="background-color: #FEB734;">
            <div class="due-ite flex justify-between">
                <h2 style="color:white">COMP-1113: Assignment 1</h2>
                <p style="color: white;">2 Hrs</p>
            </div>
        </div>

        <div class=" task4 due-item-container border mr-3 ml-3 mb-3 mt-2 p-3 rounded-xl" style="background-color: #4ABFD3;">
            <div class="due-ite flex justify-between">
                <h2 style="color:white">Break (Suggestion: Lunch Time)</h2>
                <p style="color: white;">1 Hr</p>
            </div>
        </div>


        <div class=" task5 due-item-container border  mr-3 ml-3 mb-3 mt-2 p-3 rounded-xl" style="background-color: #5DC080;">
            <div class="due-ite flex justify-between">
                <h2 style="color:white">COMP-1510: Presentation Slides</h2>
                <p style="color: white;">30 mins</p>
            </div>
        </div>

        <div class=" task6 due-item-container border mr-3 ml-3 mb-3 mt-2 p-3 rounded-xl" style="background-color: #4ABFD3;">
            <div class="due-ite flex justify-between">
                <h2 style="color:white">Bed Time</h2>
                <p style="color: white;">8 Hrs</p>
            </div>
        </div>
        
        <div class="hidden">

            <h1 class="text-xl ml-3">March 13</h1>
            <div class="due-item-container border mr-3 ml-3 mb-3 mt-2 p-3 rounded-xl"
                style="background-color: #5DC080;">
                <div class="due-ite flex justify-between">
                    <h2 style="color:white">COMP-1537: Lab Submission</h2>
                    <p style="color:white">1 Hr</p>
                </div>
            </div>

            <div class="due-item-container border mr-3 ml-3 mb-3 mt-2 p-3 rounded-xl"
                style="background-color: #5DC080;">
                <div class="due-ite flex justify-between">
                    <h2 style="color:white">COMP-1800: Report Submission</h2>
                    <p style="color:white">1 Hr</p>
                </div>
            </div>

            <h1 class="text-xl ml-3">March 14</h1>

            <div class="due-item-container border mr-3 ml-3 mb-3 mt-2 p-3 rounded-xl"
                style="background-color: #F94E56;">
                <div class="due-ite flex justify-between">
                    <h2 style="color:white;">COMP-1510: Lab Submission</h2>
                    <p style="color: white;">4 Hrs</p>
                </div>
            </div>

            <div class="due-item-container border mr-3 ml-3 mb-3 mt-2 p-3 rounded-xl"
                style="background-color: #5DC080;">
                <div class="due-ite flex justify-between">
                    <h2 style="color:white">COMP-1800: Quiz Due</h2>
                    <p style="color:white">15 mins</p>
                </div>
            </div>

            <div class="due-item-container border mr-3 ml-3 mb-3 mt-2 p-3 rounded-xl"
                style="background-color: #5DC080;">
                <div class="due-ite flex justify-between">
                    <h2 style="color:white">COMP-1537: Quiz Due</h2>
                    <p style="color:white">30 mins</p>
                </div>
            </div>

            <div class="due-item-container border mr-3 ml-3 mb-3 mt-2 p-3 rounded-xl"
                style="background-color: #5DC080;">
                <div class="due-ite flex justify-between">
                    <h2 style="color:white">COMP-1712: Reading Assignment</h2>
                    <p style="color:white">30 mins</p>
                </div>
            </div>

            <h1 class="text-xl ml-3">March 16</h1>
            <div class="due-item-container border mr-3 ml-3 mb-3 mt-2 p-3 rounded-xl"
                style="background-color: #FEB734;">
                <div class="due-ite flex justify-between">
                    <h2 style="color:white">COMP-1113: Assignment 1</h2>
                    <p style="color: white;">2 Hrs</p>
                </div>
            </div>

            <div class="due-item-container border mr-3 ml-3 mb-3 mt-2 p-3 rounded-xl"
                style="background-color: #5DC080;">
                <div class="due-ite flex justify-between">
                    <h2 style="color:white">COMP-1712: Reading Assignment</h2>
                    <p style="color:white">30 mins</p>
                </div>
            </div>

            <h1 class="text-xl ml-3">March 17</h1>


            <div class="due-item-container border mr-3 ml-3 mb-3 mt-2 p-3 rounded-xl"
                style="background-color: #F94E56;">
                <div class="due-ite flex justify-between">
                    <h2 style="color:white;">COMP-1510: Lab Submission</h2>
                    <p style="color: white;">4 Hrs</p>
                </div>
            </div>
            <div class="due-item-container border mr-3 ml-3 mb-3 mt-2 p-3 rounded-xl"
                style="background-color: #F94E56;">
                <div class="due-ite flex justify-between">
                    <h2 style="color:white;">COMP-1510: Lab Submission</h2>
                    <p style="color: white;">4 Hrs</p>
                </div>
            </div>

            <h1 class="text-xl ml-3">March 18</h1>
            <div class="due-item-container border mr-3 ml-3 mb-3 mt-2 p-3 rounded-xl"
                style="background-color: #FEB734;">
                <div class="due-ite flex justify-between">
                    <h2 style="color:white">COMP-1113: Assignment 1</h2>
                    <p style="color: white;">2 Hrs</p>
                </div>
            </div>

            <div class="due-item-container border mr-3 ml-3 mb-3 mt-2 p-3 rounded-xl"
                style="background-color: #FEB734;">
                <div class="due-ite flex justify-between">
                    <h2 style="color:white">COMP-1113: Assignment 1</h2>
                    <p style="color: white;">2 Hrs</p>
                </div>
            </div>
            <div class="due-item-container border mr-3 ml-3 mb-3 mt-2 p-3 rounded-xl"
                style="background-color: #4ABFD3;">
                <div class="due-ite flex justify-between">
                    <h2 style="color:white">sleep</h2>
                    <p style="color: white;">8 Hrs</p>
                </div>
        </div>

    </div>


    <script src="https://cdn.tailwindcss.com"></script>

</body>

</html>