<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="ml-4 mr-4">
        <h1 class="text-lg">Workload Monitor</h1>

        <div class="flex justify-between mt-2">
            <div>
                <p> Tasks Completed</p>
            </div>

            <div class="flex">
                <canvas class="pl-2" id='taskscomplete' width="200" height="25"></canvas>
                <p>7/10</p>
            </div>


        </div>

        <div class="flex justify-between mt-2">
            <p>Tasks Ongoing</p>
            <div class="flex">
                <canvas class="pl-2" id='tasksongoing' width="200" height="25"></canvas>
                <p>2/10</p>
            </div>
        </div>

        <div class="flex justify-between mt-2">
            <p>Tasks Not Started</p>
            <div class="flex">
                <canvas class="pl-2" id='tasksnotstarted' width="200" height="25"></canvas>
                <p>4/10</p>
            </div>
        </div>
    </div>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../scripts/workloadcard.js"></script>

</body>

</html>