@keyframes calendarshift {
    0% {
        transform: translateY(-200%);
        visibility: hidden;
    }

    100% {
        
        transform: translateY(0);
    }
}

@keyframes taskshift {
    0% {
        transform: translateY(100%);
    }


    25% {
        transform: translateY(50%);
    }


    100% {
        
        transform: translateY(0);
    }


}

#tasks {
    animation: 0s ease-in 0s 1 taskshift;
    animation-duration: 0.5s;
    animation-fill-mode: none, forwards;
}

article {
    animation: 0s ease-in 0s 1 calendarshift;
    animation-duration: 0.5s;
    animation-fill-mode: none, forwards;
}

