<div class="container p-3 pt-4 pb-5 " , style="overflow: auto;">
    <button class="" style="color: #4ABFD3;">
        Mark All as Read
    </button>

    <div class="inline-flex items-center justify-center w-full">
        <hr class="w-64 h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
        <span
            class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900">
            Unread Message
        </span>
    </div>
    <!--This is a unread notification-->
    <div class="relative border mt-3 p-3 rounded-xl" style="background-color: #D6F2F7;">
        <div
            class="absolute bottom-auto left-auto right-0 top-0 z-10 inline-block -translate-y-1/2 translate-x-2/4 rotate-0 skew-x-0 skew-y-0 scale-x-100 scale-y-100 rounded-full bg-red-600 p-2.5 text-xs">
        </div>
        <div class="flex">
            <p style="color: #F94E56;">Reminder: COMP 2152 Group Project Assignment
                Due on Today 12.00 pm.</p>
        </div>
    </div>
    <div class="inline-flex items-center justify-center w-full">
        <hr class="w-64 h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
        <span
            class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900"
            style="color:rgb(37, 231, 167);">
            Physical Health
        </span>
    </div>
    <div class="relative border mt-3 p-3 rounded-xl" style="background-color: rgb(37, 231, 167);">
        <div class="due-ite flex">
            <p style="color: rgb(0, 0, 0)">Daily Summary: 1200ml water, 3 meals and 5 hours sleep. Try to sleep more!
            </p>
        </div>
    </div>
    
    <div class="inline-flex items-center justify-center w-full">
        <hr class="w-64 h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
        <span
            class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900" style="color: #F94E56;">
            Mental Haelth
        </span>
    </div>
    <div class="relative border mt-3 p-3 rounded-xl" style="background-color: #F94E56;">
        <div class="due-ite flex">
            <p style="color: #000000;">I saw you felt sad...What happened? Do you want to talk with your friends? Are
                you ok? If you want to talk, you can click here for CONFIDENTIAL counselling services.</p>
        </div>
    </div>
    <div class="inline-flex items-center justify-center w-full">
        <hr class="w-64 h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
        <span
            class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900" style="color: #8394f5;">
            School Work
        </span>
    </div>
    <div class="relative border mt-3 p-3 rounded-xl" style="background-color: #8394f5;">
        <div class="flex">
            <p style="color: #000000;">Congratulations! <br>
                You have completed 3 workouts this week</p>
        </div>
    </div>

    <div class="inline-flex items-center justify-center w-full">
        <hr class="w-64 h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
        <span
            class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900" style="color: #FEB734;">
            Event and Activity
        </span>
    </div>
    <div class="relative border mt-3 p-3 rounded-xl" style="background-color: #FEB734;">
        <div class="due-ite flex">
            <p style="color: #000000;">I saw you felt sad...What happened? Do you want to talk with your friends? Are
                you ok? If you want to talk, you can click here for CONFIDENTIAL counselling services.</p>
        </div>
    </div>
    <div class="relative border mt-3 p-3 rounded-xl" style="background-color: #FEB734;">
        <div class="due-ite flex">
            <p style="color: #000000;">I saw you felt sad...What happened? Do you want to talk with your friends? Are
                you ok? If you want to talk, you can click here for CONFIDENTIAL counselling services.</p>
        </div>
    </div>
    <div class="relative border mt-3 p-3 rounded-xl" style="background-color: #FEB734;">
        <div class="due-ite flex">
            <p style="color: #000000;">I saw you felt sad...What happened? Do you want to talk with your friends? Are
                you ok? If you want to talk, you can click here for CONFIDENTIAL counselling services.</p>
        </div>
    </div>
    
    <br><br><br>
</div>